
.container{
    width: 100%;
    height: 100%;


    .drawer-container {
        width: 100%;
        height: 100%;
        position: relative;        
                
        .sidenav-content {
            width: 100%;
            height: 100%;
            // background-color: forestgreen;
        }
            
        .sidenav {
            padding: 20px;

            mat-list{
                mat-list-item{
                    cursor: pointer;
                }
                mat-list-item:hover{
                    background-color: gainsboro;
                }
            }
        }

        .spacer {
            flex: 1 1 auto;
        }
    }
  
}