
<div class="container">
 
    <mat-toolbar color="primary" >
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <span>My Notes</span>
        <span class="spacer"></span>    

        <button (click)="addNote()" *ngIf="auth.user|async">Add note</button>

    </mat-toolbar>
 
 
    <mat-drawer-container class="drawer-container" >

        <mat-drawer #drawer class="sidenav" mode="side">
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem" (click)="logOut();drawer.close()" *ngIf="auth.user|async">Oturumu kapat</mat-list-item>
              </mat-list>
           
            <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
            <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
                Toggle extra text
            </button> -->
        </mat-drawer>

        <div class="sidenav-content" (click)="drawer.close()">
            <!-- <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
            </button> -->

            <router-outlet></router-outlet>
            
        </div>
  
    </mat-drawer-container>

</div>

